keras==3.8.0
numpy==2.0.2
pandas==2.2.2
scikit-learn==1.6.1
scipy==1.15.3
tensorflow==2.18.0
tf_keras==2.18.0
transformers==4.53.1
sentence-transformers==4.1.0
huggingface-hub==0.33.2
setuptools<=65.5.1
gdown 
streamlit